<div class="tab">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>

    <section class="countdown" style="column 2 ; 1fr ; deep depth" aria-multiline="true">
        <img src="/img/icons/clock.svg" alt="Icône de montre" class="countdown-icon">
        <div class="countdown-text">
            <h2>RÉPONSE EN MOINS DE 24H</h2>

            <div class="retour-tab">
                <h1>
                    Pourquoi pas
                </h1>
                <p> 
                    <strong>MECA-CN</strong> ? Parce que nous sommes plus qu'un simple atelier de mécanique de précision. Nous sommes votre partenaire technique, dédié à transformer vos idées les plus ambitieuses en réalité tangible. Notre équipe d'experts passionnés est prête à relever tous les défis, en vous offrant des solutions sur mesure, une qualité irréprochable et un service client exceptionnel. Avec MECA-CN, chaque projet devient une collaboration fructueuse, où votre succès est notre priorité absolue.

                    <br><br>
                    <hr>
                    <div class="">
                        <h3>Contactez-nous dès aujourd'hui pour discuter de votre projet et découvrir comment nous pouvons vous aider à atteindre vos objectifs techniques.</h3>
                        <button class="voir-plus" onclick="window.location.href='/contact'">Nous contacter</button>

                        <main>
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                            <navbar>
                                <button class="voir-plus" onclick="window.location.href='/contact'">Nous contacter</button>
                                <button class="voir-plus" onclick="window.location.href='/devis'">Demander un devis</button>
                                <button class="voir-plus" onclick="window.location.href='/realisations'">Voir nos réalisations</button>
                                <a href="confirmation_devis">
                                    <div class="home">

                                    </div>                                
                                </a>
                            </navbar>
                        </main>
                    </div>
                </p>
            </div>
    </section>
</div>