#toast{
    position: fixed;
    bottom: 30px;
    right: 30px;

    background: #111;
    color: white;

    padding: 15px 25px;

    border-radius: 12px;

    font-size: 15px;

    opacity: 0;
    pointer-events: none;

    transform: translateY(20px);

    transition: 0.3s ease;

    z-index: 9999;
}

#toast.show{
    opacity: 1;
    transform: translateY(0);
}

#toast.success{
    background: #1f8b4c;
}

#toast.error{
    background: #c0392b;
}