.reveal {
    opacity: 0.1;
    transform: translateY(25px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


.reveal-machine{
    opacity:0;
    transition:all 0.8s ease;
}

.reveal-machine.active{
    opacity:1;
}
