html{
    scroll-behavior: smooth !important;
}

body{
    margin:0;
    padding:0;
    font-family: "Manrope", sans-serif;
    background-color: #f8f9fb;
    color:black;
    overflow-x:hidden;
}

h3{
        font-family:"Inter", sans-serif;
        font-size: 1rem;
        letter-spacing: 18%;
        font-weight:bold;
        color:#003F87;
    }

.mobile-icon{
    width: 16px;
    height: 16px;
    margin-left: 8px;
}




/* Ordinateur */
@media screen and (min-width : 900px) {
    .pc-hidden{
        display:none;
    }

    .phone-only{
        display:none;
    }
}





/* Tablette */
@media screen and (min-width : 600px) and (max-width : 900px) {
    .tablet-hidden{
        display:none;
    }

    .pc-only{
        display:none;
    }
    
    .phone-only{
        display:none;
    }


}





/* Téléphone */
@media screen and (max-width : 600px) {
    .mobile-hidden{
        display:none;
    }

    .pc-only{
        display:none;
    }
}
