<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Favicon -->

    <link rel="icon" href="/img/logos/Icon_BlackOnWhite.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">

    <link rel="icon" href="/img/logos/Icon_WhiteOnBlack.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    
    <link rel="alternate icon" href="/img/logos/Full_WhiteOnBlack.ico">


    <title>Error 404</title>

    <link rel="stylesheet" href="/style/404.css">
</head>
<body>
