<%- include("404-header") %>

<div class="cont-404">
    <div class="gear-container">
        <img src="/img/logos/Icon_WhiteOnBlack.svg" alt="Engrenage MECA-CN" class="gear">
        <span class="number">404</span>
    </div>

    <h1 class="erreur-404-titre">Oups ! Hors tolérance.</h1>

    <p class="erreur-404-texte">
        La pièce (ou la page) que vous tentez d'usiner est introuvable. 
        Notre système de guidage a rencontré une erreur machine.
    </p>

    <div class="actions">
        <a href="/" class="btn-404">Retour à l'atelier (Accueil)</a>
        <a href="/contact" class="btn-404 secondary">Signaler un bug</a>
    </div>
</div>