<nav class="bottom-nav phone-only">
    <a href="/" class="nav-item accueil-bringer">
        <img src="/img/icons/home.svg" alt="Accueil">
        <span>Accueil</span>
    </a>
    <a href="/presentation" class="nav-item factory-bringer">
        <img src="/img/icons/entreprise.svg" alt="Entreprise">
        <span>Entreprise</span>
    </a>
    <a href="/machines" class="nav-item machine-bringer">
        <img src="/img/icons/machine.svg" alt="Machines">
        <span>Machines</span>
    </a>
    <a href="/devis" class="nav-item devis-bringer">
        <img src="/img/icons/devis.svg" alt="Devis">
        <span>Devis</span>
    </a>
</nav>