<%- include('header') %>


<section class="contact-cont">
    <div class="contact-cont-left-column">
        <h2 class="white">Pour toutes question <br> contactez-nous</h2>
        <div class="separateur"></div>

        <section class="contact-info-cont">


            <% if (typeof message !== "undefined") { %>
                <p class="success"><%= message %></p>
            <% } %>
            <form id="formulaire-contact" action="/contact" method="post">
                <div class="form-ligne">
                    <div class="form-group">
                        <label>Prénom *</label>
                        <input type="text" name="prenom" placeholder="Votre prénom" required>
                    </div>

                    <div class="form-group">
                        <label>Nom *</label>
                        <input type="text" name="nom" placeholder="Votre nom" required>
                    </div>
                </div>

                <div class="form-ligne">
                    <div class="form-group">
                        <label>Email *</label>
                        <input type="email" name="email" placeholder="Votre email" required>
                    </div>

                    <div class="form-group">
                        <label>Téléphone</label>
                        <input type="tel" name="telephone" placeholder="Votre téléphone">
                    </div>
                </div>

                <div class="form-group full">
                    <label>Message</label>
                    <textarea name="message" rows="6" placeholder="Votre message..." required></textarea>
                </div>

                <button type="submit" class="btn-contact">Valider</button>

            </form>
        </section>
    </div>

    <div class="contact-cont-right-column">
        <img src="/img/contact-presentation-img2.jpg" alt="">
    </div>
</section>


<div class="coords-holder">
    <div class="mail coords-holder-info">
        <div class="coords-icon-holder">
            <i class="fa-regular fa-envelope fa-2xl" style="color: #79dc81;"></i>
        </div>
        <p class="title_contact"> Mail </p>
        <p class="mail-name"> magan.lateliervegetal@gmail.com </p>
    </div>
    <div class="telephone coords-holder-info">
        <div class="coords-icon-holder">
            <i class="fa-solid fa-phone fa-2xl" style="color: #79dc81;"></i>
        </div>
        <p class="title_contact"> Téléphone </p>
        <p class="telephone-name"> 00 00 00 00 00 </p>
    </div>
    <div class="localisation coords-holder-info">
        <div class="coords-icon-holder">
            <i class="fa-regular fa-map fa-2xl" style="color: #79dc81;"></i>
        </div>
        <p class="title_contact"> Localisation </p>
        <p class="localisation-name"> 5 Calvin, 22170 <br> Lanrodec </p>
    </div>
</div>

<div class="debut_footer"></div>


<%- include("footer") %>