<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MECA-CN</title>

    <!-- Styles -->

    <link rel="stylesheet" href="/style/style.css">
    <% if (typeof page_css1 !== "undefined") { %>
        <link rel="stylesheet" href="/style/<%= page_css1 %>">
    <% } %>
    <% if (typeof page_css2 !== "undefined") { %>
        <link rel="stylesheet" href="/style/<%= page_css2 %>">
    <% } %>
    <% if (typeof page_css3 !== "undefined") { %>
        <link rel="stylesheet" href="/style/<%= page_css3 %>">
    <% } %>


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header_cont">
            <div class="header_left_side">
                <img class="logo_header" src="/img/logos/Full_WhiteOnBlack.svg" alt="Logo MECA-CN">
            </div>
            <div class="header_right_side">
                <button class="header_btn"><a href="/">Demander un devis</a></button>
                <button class="header_btn"><a href="/">Nous contacter</a></button>
            </div>

        </div>
        
    </header>