
<%# Mentions légales (legal notices) %> 

<%- include("header.ejs") %> 


<div class="page-title">
    <h1 class="title1">
        Mentions légales
    </h1>
</div>

<main>


    <h2 class="title2">
        1. Éditeur du site
    </h2>

    <p> 
        Le site MECA-CN est édité par : 
        <br>
        <strong>MECA-CN</strong>

        <ul>
            <li>
                Forme juridique : Société à responsabilité limitée (SARL)
            </li>
            <li>Capital social : 71 750,00 €</li>
            <li>Siège social : Route de Camiers, 62630 Widehem, France</li>
            <li>SIRET : 382 410 546 00032</li>
            <li>TVA intracommunautaire : FR40382410546</li>
            <br>
            <li>Téléphone : 03 21 84 25 11</li>
            <li>Email : meca-cn@wanadoo.fr</li>
        </ul>
    </p>






    <h2 class="title2">
        2. Hébergement du site
    </h2>

    <p>
        Le site est hébergé par : 
    </p>
    
    <strong>o2switch</strong>
    <ul>
        <li>Adresse : Chemin des Pardiaux, 63000 Clermont-Ferrand, France</li>
        <li>Téléphone : 04 44 44 60 40</li>
        <li>Site WEB : https://www.o2switch.com</li>
    </ul>







    <h2 class="title2">
        3. Propriété intellectuelle
    </h2>
    <p>
         L'ensemble du contenu du site MECA-CN (textes, images, graphismes, logos, structure, code source, etc.) est protégé par le droit de la propriété intellectuelle.
        <br>
        Toute reproduction, distribution, modification ou exploitation sans autorisation préalable écrite par MECA-CN est strictement interdite et peut entraîner des poursuites judiciaires.
    </p>
   






    <h2 class="title2">
        4. Responsabilité
    </h2>
    <p>
        MECA-CN s'efforce de fournir des informations fiables et mises à jour sur son site.
        <br>
        Cependant, des erreurs ou omissions peuvent survenir.
        <br>
        L'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.
        <br>
        MECA-CN ne pourra être tenu responsable : 
        <ul>
            <li>
                des dommages directs ou indirects liés à l'utilisation du site
            </li>
            <li>
                d'éventuelles interruptions ou bugs techniques
            </li>
            <li>
                de l'utilisation de sites externes accessibles via des liens hypertextes présents sur le site
            </li>
        </ul>
    </p>






    <h2 class="title2">
        Données personnelles (RGPD)
    </h2>
    <p>
        Conformément au Règlement Général sur la Protection des Données (RGPD - UE 2016/679), et à la loi informatique et libertés, MECA-CN s'engage à protéger les données personnelles des utilisateurs ded son site.
        <br>

        <h3 class="title3">
            Données collectées
        </h3> 
        Les données susceptibles d'être collectées sont :
        <ul>
            <li>Nom et Prénom</li>
            <li>Adresse email</li>
            <li>Numéro de téléphone</li>
            <li>Toutes informations transmises via un formulaire de contact</li>
        </ul>
        <br>

        <h3 class="title3">
        Finalité du traitement
    </h3>
    <p>
        Les données sont collectés pour : 
        <ul>
            <li>répondre aux demandes de contact</li>
            <li>établir des devis ou relations commerciales</li>
            <li>assurer le suivi client</li>
        </ul>
    </p>


    <h3 class="title3">
        Durée de conservation
    </h3>
    <p>
        Les données sont conservées pour une durée maximale de 3 ans à compter du dernier contact avec l'utilisateur, sauf obligation légale contraire.
    </p>


    <h3 class="title3">Droit des utilisateurs</h3>
    <p>
        Conformément à la réglementation, vous disposez des droits suivants concernant vos données personnelles : 
        <ul>
            <li>droit d'accès</li>
            <li>droit de rectification</li>
            <li>droit à l'effacement</li>
            <li>droit à la limitation du traitement</li>
            <li>droit d'opposition au traitement</li>
        </ul>
        <br>
        Pour exercer vos droits : meca-cn@wanadoo.fr
    </p>



    </p>







    <h2 class="title2">
        6. Cookies
    </h2>
    Le site MECA-CN peut utiliser des cookies afin de : 
    <ul>
        <li>mesurer l'audience (statistiques)</li>
        <li>améliorer lexpérience utilisateur</li>
        <li>assurer le bon fonctionnement du site</li>
    </ul>

    L'utilisateur peut configurer son navigateur pour refuser les cookies, mais cela peut entraîner une expérience de navigation limitée sur le site.
    <br>
    Un bandeau de consentement est affiché lors de la première visite conformément aux recommandations de la CNIL.





    <h2 class="title2">
        7. Liens hypertextes
    </h2>
    Le site peut contenir des liens vers des sites externes.<br>
    MECA-CN n'exerce aucun contrôle sur ces sites et décline toute responsabilité quand à leur contenu, leurs politiques de confidentialité ou leurs pratiques.




    <h2 class="title2">
        8. Droit applicable
    </h2>
    Les présentes mentions légales sont régies par le droit français. <br>
    En cas de litige, et à défaut de résolution amiable, les tribunaux français seront seuls compétents.
    


    <em>
        Dernière mise à jour des Mentions légales réalisée le 26/05/2026.
    </em>
</main>


<%- include('footer') %>
